.resultados {
    grid-area: resultados;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor1{
    background-color: #f7f2f8;
    border-radius: 2%;
    background-size: arial;
    width: 65%;
    height: 15%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.start{
    width: 25%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resultados p {
    margin-left: 5%;
    color: rgb(207, 67, 235);
    font-weight: 700;
}
