.contenedor_padre {
    width: 1080px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contenedor_encabezado resultados" "perfiles perfiles";
}

.contenedor {
    grid-area: contenedor_encabezado;
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor h1 {
    color: rgb(75, 6, 88);
    font-size: 45px;
    font-weight: 100px;
    line-height: 45px;
    margin-bottom: 0px;
}

.contenedor p {
    color: rgb(120, 116, 121);
}