.perfiles {
    grid-area: perfiles;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}

.principal{
    background-color: rgb(20, 2, 24);
    margin: 10px;
    border-radius: 2%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.tarjeta_contenido {
    width: 90%;
    height: 90%;
}

.tarjeta1 {
    align-self: flex-start;
}

.tarjeta2 {
    align-self: center;
}

.tarjeta3 {
    align-self: flex-end;
}

.perfil {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil img {
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 5%;
    transform: scale(0.9);
}

.nombre{
    margin-bottom: 2px;
    color: white;
    font-weight: 50px;
}

.action{
    color: white;
    line-height:30px;
    margin-top:10%;
    font-size: 16px;
    text-align: center;
}